In [3]:
import sqlite3

In [4]:
db = sqlite3.connect("abcd.db")

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F832-2B0D

 Directory of C:\Users\bvams\Documents\FSDS\FSDS - PYTHON - SQL_Lite

08/21/2022  04:31 PM    <DIR>          .
08/21/2022  04:18 PM    <DIR>          ..
08/21/2022  04:18 PM    <DIR>          .ipynb_checkpoints
08/21/2022  04:31 PM                 0 abcd.db
08/21/2022  04:30 PM               777 FSDS - PYTHON - SQL_Lite - 20TH FEB.ipynb
               2 File(s)            777 bytes
               3 Dir(s)  101,343,596,544 bytes free

In [6]:
c = db.cursor()

In [7]:
c.execute("create table fsds(name text, batchid int, marks real)")

In [8]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F832-2B0D

 Directory of C:\Users\bvams\Documents\FSDS\FSDS - PYTHON - SQL_Lite

08/21/2022  04:38 PM    <DIR>          .
08/21/2022  04:18 PM    <DIR>          ..
08/21/2022  04:18 PM    <DIR>          .ipynb_checkpoints
08/21/2022  04:38 PM             8,192 abcd.db
08/21/2022  04:38 PM             2,377 FSDS - PYTHON - SQL_Lite - 20TH FEB.ipynb
               2 File(s)         10,569 bytes
               3 Dir(s)  101,514,854,400 bytes free

In [16]:
c.execute("insert into fsds values('Vamsi', 5636, 674.4)")
c.execute("insert into fsds values('Vamsi', 5636, 674.4)")
c.execute("insert into fsds values('Vamsi', 5636, 674.4)")
c.execute("insert into fsds values('Vamsi', 5636, 674.4)")
c.execute("insert into fsds values('Vamsi', 5636, 674.4)")
c.execute("insert into fsds values('Vamsi', 5636, 674.4)")
c.execute("insert into fsds values('Vamsi', 5636, 674.4)")
c.execute("insert into fsds values('Vamsi', 5636, 674.4)")
c.execute("insert into fsds values('Vamsi', 5636, 674.4)")

In [17]:
data = c.execute("select * from fsds")

In [18]:
for i in data:
    print(i)

('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)

In [19]:
db.commit()

In [20]:
db.close()

In [21]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F832-2B0D

 Directory of C:\Users\bvams\Documents\FSDS\FSDS - PYTHON - SQL_Lite

08/21/2022  04:44 PM    <DIR>          .
08/21/2022  04:18 PM    <DIR>          ..
08/21/2022  04:18 PM    <DIR>          .ipynb_checkpoints
08/21/2022  04:44 PM             8,192 abcd.db
08/21/2022  04:44 PM             5,562 FSDS - PYTHON - SQL_Lite - 20TH FEB.ipynb
               2 File(s)         13,754 bytes
               3 Dir(s)  101,513,011,200 bytes free

In [24]:
db = sqlite3.connect("abcd.db")

In [25]:
c = db.cursor()

In [26]:
data = c.execute("select * from fsds where marks > 600")

In [27]:
for i in data :
    print(i)

('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)

In [28]:
data = c.execute("select * from fsds where name = 'Vamsi'")

In [29]:
for i in data:
    print(i)

('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)
('Vamsi', 5636, 674.4)

In [31]:
data = c.execute("select name, marks from fsds")

In [32]:
for i in data:
    print (i)

('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)

In [33]:
data = c.execute("select name, marks from fsds order by marks")

In [34]:
for i in data:
    print(i)

('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)
('Vamsi', 674.4)

In [35]:
 db.close()

In [36]:
db = sqlite3.connect("person.db")

In [37]:
c = db.cursor()

In [41]:
c.execute("create table person_table(name text, email text, age int, salary real)")

OperationalError: table person_table already exists

In [45]:
c.execute("insert into person_table values('Abc', 'abc@gmail.com', 23, 374678)")
c.execute("insert into person_table values('Def', 'def@gmail.com', 33, 786545)")
c.execute("insert into person_table values('Ghi', 'ghi@gmail.com', 27, 987656)")
c.execute("insert into person_table values('Jkl', 'jkl@gmail.com', 23, 374678)")

In [47]:
data = c.execute("select * from person_table")

In [48]:
for i in data:
    print(i)

('Abc', 'abc@gmail.com', 23, 374678.0)
('Def', 'def@gmail.com', 33, 786545.0)
('Ghi', 'ghi@gmail.com', 27, 987656.0)
('Jkl', 'jkl@gmail.com', 23, 374678.0)

In [49]:
db.commit()

In [46]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F832-2B0D

 Directory of C:\Users\bvams\Documents\FSDS\FSDS - PYTHON - SQL_Lite

08/21/2022  05:23 PM    <DIR>          .
08/21/2022  04:18 PM    <DIR>          ..
08/21/2022  04:18 PM    <DIR>          .ipynb_checkpoints
08/21/2022  04:44 PM             8,192 abcd.db
08/21/2022  04:47 PM                 0 Example.db
08/21/2022  05:22 PM            14,625 FSDS - PYTHON - SQL_Lite - 20TH FEB.ipynb
08/21/2022  05:20 PM             8,192 person.db
08/21/2022  05:23 PM                 0 person.db-journal
               5 File(s)         31,009 bytes
               3 Dir(s)  101,536,800,768 bytes free